syntax: glob
*.user
*.suo
*.ncb
*.hgignore
*.hg
*.htm
*.html
*.pch
*.obj
*.idb
*.pdb
*.manifest.res
*.manifest
*.dll
*.exp
*.ilk
*.lib
*.exe
*.dep
*.data
*.aps
Debug
Cache
Log
Bin
Release
enc_temp_folder